.main, .main2, .main3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    background-image: url("https://hd.unsplash.com/photo-1433147926609-4a89b40610cc");
    min-height: 1000px;
}
.main2 {
    background-image: url("https://hd.unsplash.com/photo-1461784180009-21121b2f204c");
    min-height: 300px;
}
.main3 {
    background-image: url("https://hd.unsplash.com/photo-1461749280684-dccba630e2f6");
    min-height: 400px;
}
.main4 {
    background: url("./images/moMap.jpg") no-repeat center center fixed;
    min-height: 440px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
}
.navbar {
    display: inline;
    float:right;
    font-size: 20px;
    background-color: #DAE6EF;
    opacity: .6;
}
.navbar-inverse {
    background-color: #ffffff;
}
.navbar-nav li {
    margin-right: 50px;
    margin-left: 50px;
    color: blue;
}
.caption {
    position: absolute;
    left: 0;
    top:25%;
    width: 100%;
    text-align: center;
    color: white;
}
#sep1, #sep2, #sep3, #sep4 {
    color: black
    width: auto;
    text-align: center;
    padding: 20px 80px;
    height: auto;
    overflow: auto;
}
#sep1 {
    background-color: #DAE6EF;

}
#sep2 {
    background-color: #D5C9B3;

}
#sep3 {
    background-color: #E1C98C;

}
.row {
    text-align: center;
}
.col-md-4 {
    font-size: 50px;
    padding-left: 10px;
}
#KG {
    width: 170px;
    height: 140px;
    border-radius: 30px;
}
.cntrd {
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}
.cntrdEnd {
    font-size: 130px;
}
p.social a.facebook {
    background-color: #ccc;
}
p.social a.twitter {
    background-color: #ccc;
}
p.social a.gplus {
    background-color: #ccc;
}
p.social a.instagram {
    background-color: #ccc;
}
p.social a.email {
    background-color: #ccc;
}
p.social a {
    margin: 0 10px 0 0;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 25px;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    transition: .2s ease-out;
    vertical-align: bottom;
}
.hobBox {
    text-align: center;
    height: auto;
    font-size: 15px;
}
#head {
    font-size: 20px;
}
.fa-spin-reverse {
    -webkit-animation: fa-spin 2s infinite linear reverse;
            animation: fa-spin 2s infinite linear reverse;
}
.hobHeader {
    text-align: center;
}
i {
    text-align: center;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D7E4EC;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #fff;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
